aclocal.m4
autom4te.cache
config.h
config.log
config.status
config.sub
configure
config.h.in
cscope.out
depcomp
install-sh
libtool
ltmain.sh
missing
src/freej
stamp-h1
tags
lib/javascript/obj
doc/scripting/html
*.[oa]
*.so
*.la
*.lo
*~
Makefile.in
Makefile
freej.pc
.deps
.obj
.libs
TAGS
ylwrap
py-compile
py/freej.py
py/freej.pyc
py/freej_py.cpp
bindings/python/freej.py
bindings/python/freej_py.cpp
bindings/python/freej_py.h
bindings/ruby/freej_ruby.cpp
bindings/ruby/freej_ruby.h
*.*.swp
core
core.*
doc/freej.dox
doc/html
doc/pydocstrings.i
doc/xml
xcode/build
xcode/freej.xcodeproj/*.mode1v3
xcode/freej.xcodeproj/*.pbxuser
