aclocal.m4
autom4te.cache
config.h
config.log
config.status
config.sub
configure
config.h.in
depcomp
install-sh
libtool
ltmain.sh
missing
src/freej
stamp-h1
tags
lib/javascript/obj
*.[oa]
*.so
*.la
*.lo
*~
Makefile.in
Makefile
.deps
.obj
.libs
TAGS
