aclocal.m4
autom4te.cache
config.h
config.log
config.status
config.sub
configure
config.h.in
cscope.out
depcomp
install-sh
libtool
ltmain.sh
missing
src/freej
stamp-h1
tags
doc/scripting/html
*.[oa]
*.so
*.la
*.lo
*~
*.orig
Makefile.in
Makefile
freej.pc
.deps
.obj
.libs
TAGS
ylwrap
py-compile
py/freej.py
py/freej.pyc
py/freej_py.cpp
*.pyc
bindings/python/freej.py
bindings/python/freej_py.cpp
bindings/python/freej_py.h
bindings/ruby/freej_ruby.cpp
bindings/ruby/freej_ruby.h
*.*.swp
core
core.*
doc/html
doc/pydocstrings.i
doc/xml
xcode/build
xcode/freej.xcodeproj/*.mode1v3
xcode/freej.xcodeproj/*.pbxuser
xcode/freej.xcodeproj/config.h-e

# makefile.in comes from original distribution of spidermonkey
!lib/javascript/Makefile.in
lib/javascript/GNUmakefile
lib/javascript/config.cache
lib/javascript/config/autoconf.mk
lib/javascript/config/myconfig.mk
lib/javascript/config/myrules.mk
lib/javascript/config/nfspwd
lib/javascript/config/nsinstall
lib/javascript/config/revdepth
lib/javascript/config/system_wrappers_js/
lib/javascript/dist/
lib/javascript/host_jskwgen
lib/javascript/host_jsoplengen
lib/javascript/js
lib/javascript/js-config
lib/javascript/js-config.h
lib/javascript/jsautocfg.h
lib/javascript/jsautokw.h
lib/javascript/jsautooplen.h
lib/javascript/jscpucfg
lib/javascript/mozilla-config.h
lib/javascript/unallmakefiles
m4/*
