Source: freej
Section: x11
Priority: optional
Maintainer: Jaromil <jaromil@dyne.org>
XSBC-Original-Maintainer: Jaromil <jaromil@dyne.org>
Build-Depends: c++-compiler, libtool, debhelper (>> 4.0.0), flex, bison, libsdl-dev, libpng-dev, libfreetype6-dev, libfontconfig-dev, dpatch, libogg-dev, libvorbis-dev, libjpeg-dev, libslang2-dev, libtheora-dev, libavcodec-dev, libavformat-dev, libbluetooth2-dev, fftw3-dev, libjack-dev, libasound-dev
Standards-Version: 3.7.2.2

Package: freej
Architecture: any
Homepage: http://freej.dyne.org
Vcs-Browser: http://git.dyne.org
Vcs-git: git://dev.dyne.org/freej.git
Depends: ${shlibs:Depends} ${misc:Depends}
Description: Vision mixer
 FreeJ is a digital instrument for realtime video manipulation used in
 the fields of dance teather, veejaying, medical visualisation and TV.
 FreeJ  lets  you interact  with  multiple  layers  of video  (images,
 movies,  live  cameras, particle  generators,  text scrollers,  flash
 animations and  more), filter  them with effect  chains and  then mix
 together. It can be operated live from a text console and scripted in
 Javascript to be controlled by keyboard, midi, OSC and joysticks.


