Source: freej
Section: x11
Priority: optional
Maintainer: Guido Trotter <ultrotter@debian.org>
Uploaders: Luca Bigliardi <shammash@artha.org>, Denis Rojo <jaromil@dyne.org>
Build-Depends: c++-compiler, libtool, debhelper (>> 5.0.0), pkg-config, flex, bison, libsdl-dev, libpng-dev, libfreetype6-dev, libfontconfig-dev, dpatch, libogg-dev, libvorbis-dev, libjpeg-dev, libslang2-dev, libtheora-dev, libavcodec-dev, libavformat-dev, libswscale-dev, libbluetooth-dev, fftw3-dev, libjack-dev, libasound-dev, libhtml-template-perl, python-dev, swig
Standards-Version: 3.8.0.1


Package: freej
Homepage: http://freej.dyne.org/
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Recommends: ttf-freefont
Description: vision mixer
 FreeJ is a digital instrument for realtime video manipulation used in
 the fields of dance theater, veejaying, medical visualization and TV.
 FreeJ lets you interact with multiple layers of video (images, movies,
 live cameras, particle generators, text scrollers, flash animations and
 more), filter them with effect chains and then mix them together. It can
 be operated live from a text console and scripted in Javascript to be
 controlled by keyboard, midi, OSC and joysticks.

