#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
#include /usr/share/cdbs/1/rules/dpatch.mk

# when it will work
#DEB_CONFIGURE_EXTRA_FLAGS := --disable-cpuflags

DEB_DH_INSTALL_SOURCEDIR := debian/tmp

DEB_BUILDDIR := build-core

# Don't compress .py
DEB_COMPRESS_EXCLUDE := .py

common-build-arch common-build-indep::
	# scripting doc
	make -k -C doc/scripting

clean::
	# scripting doc
	make -k -C doc/scripting clean
	#
	-rm -rf $(DEB_BUILDDIR)

common-install-arch common-install-indep::
	mkdir -p $(CURDIR)/debian/freej/usr/share/doc/freej/
	cp -r doc/scripting/html $(CURDIR)/debian/tmp/usr/share/doc/freej/

## python-freej

PY_VERSIONS := $(shell pyversions --requested debian/control)

configure-stamp-%:
	mkdir -p build-$*
	# check class/autotools.mk if something is wrong with this configure
	cd build-$* && PYTHON=`which $*` \
		$(DEB_CONFIGURE_SCRIPT_ENV) \
		$(DEB_CONFIGURE_SCRIPT) \
		$(DEB_CONFIGURE_NORMAL_ARGS) \
		$(cdbs_configure_flags) \
		$(DEB_CONFIGURE_EXTRA_FLAGS) \
		$(DEB_CONFIGURE_USER_FLAGS) \
		--enable-python
	touch $@

configure/python-freej:: $(addprefix configure-stamp-, $(PY_VERSIONS))

build-stamp-%:
	make -C build-$*
	touch $@

build/python-freej:: $(addprefix build-stamp-, $(PY_VERSIONS))

install-stamp-%:
	make -C build-$* install DESTDIR=$(CURDIR)/debian/tmp
	touch $@

install/python-freej:: $(addprefix install-stamp-, $(PY_VERSIONS))

binary-install/python-freej::
	dh_pycentral

clean::
	-rm -rf $(addprefix build-, $(PY_VERSIONS))
	-rm -rf $(addprefix configure-stamp-, $(PY_VERSIONS))
	-rm -rf $(addprefix build-stamp-, $(PY_VERSIONS))
	-rm -rf $(addprefix install-stamp-, $(PY_VERSIONS))

## end python-freej

