#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
#include /usr/share/cdbs/1/rules/dpatch.mk

DEB_CONFIGURE_EXTRA_FLAGS := --disable-cpuflags --enable-debug

DEB_DH_INSTALL_SOURCEDIR := debian/tmp

DEB_BUILDDIR := build-core

DEB_DBG_PACKAGE_freej := freej-dbg
DEB_DBG_PACKAGE_libfreej0 := libfreej0-dbg
DEB_DBG_PACKAGE_python-freej := python-freej-dbg

# Don't compress .py
DEB_COMPRESS_EXCLUDE := .py

clean::
	-rm -rf $(DEB_BUILDDIR)


## python-freej

PY_VERSIONS := $(shell pyversions --requested debian/control)

configure-stamp-%:
	mkdir -p build-$*
	# check class/autotools.mk if something is wrong with this configure
	cd build-$* && PYTHON=`which $*` \
		$(DEB_CONFIGURE_SCRIPT_ENV) \
		$(DEB_CONFIGURE_SCRIPT) \
		$(DEB_CONFIGURE_NORMAL_ARGS) \
		$(cdbs_configure_flags) \
		$(DEB_CONFIGURE_EXTRA_FLAGS) \
		$(DEB_CONFIGURE_USER_FLAGS) \
		--enable-python
	touch $@

configure/python-freej:: $(addprefix configure-stamp-, $(PY_VERSIONS))

build-stamp-%:
	make -C build-$*
	touch $@

build/python-freej:: $(addprefix build-stamp-, $(PY_VERSIONS))

install-stamp-%:
	make -C build-$* install DESTDIR=$(CURDIR)/debian/tmp
	touch $@

install/python-freej:: $(addprefix install-stamp-, $(PY_VERSIONS))

binary-install/python-freej::
	dh_pycentral -p python-freej

clean::
	-rm -rf $(addprefix build-, $(PY_VERSIONS))
	-rm -rf $(addprefix configure-stamp-, $(PY_VERSIONS))
	-rm -rf $(addprefix build-stamp-, $(PY_VERSIONS))
	-rm -rf $(addprefix install-stamp-, $(PY_VERSIONS))

## end python-freej

