#!/usr/bin/make -f

DEB_CONFIGURE_EXTRA_FLAGS= --enable-python
# when it works: --disable-cpuflags
DEB_DH_INSTALL_SOURCEDIR=debian/tmp
DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/python-distutils.mk
#include /usr/share/cdbs/1/rules/dpatch.mk

# Don't compress .py
DEB_COMPRESS_EXCLUDE := .py

common-build-arch common-build-indep::
	# scripting doc
	make -k -C doc/scripting

clean::
	# scripting doc
	make -k -C doc/scripting clean
	# bad javascript
	rm -f lib/javascript/editline/obj/*.o
	rm -f lib/javascript/editline/obj/*.a
	rm -f lib/javascript/fdlibm/obj/*.o
	rm -f lib/javascript/fdlibm/obj/*.a
	rm -f lib/javascript/obj/*.o
	rm -f lib/javascript/obj/*.a
	rm -f lib/javascript/obj/*.so
	rm -f lib/javascript/obj/jsautocfg.h
	rm -f lib/javascript/obj/js
	rm -f lib/javascript/obj/jscpucfg
	# bad conditional subdirs with
	# non conditional Makefile creation
	rm -f lib/goom/Makefile
	rm -f bindings/java/Makefile
	rm -f bindings/perl/Makefile
	rm -f bindings/python/Makefile
	rm -f bindings/ruby/Makefile

common-install-arch common-install-indep::
	mkdir -p $(CURDIR)/debian/freej/usr/share/doc/freej/
	cp -r doc/scripting/html $(CURDIR)/debian/tmp/usr/share/doc/freej/

