tmp/*
avideo-2011-04-30-16-40-54.3gp
*.swp
toto*
thedaytrip_512kb.*
Qfreej.pro.user.2.1pre1
time_pages
c.wav
ices.log
ices-2.0.1/*
rifffile.*
wave.*
titi*
VorbisLibEncoder.*
vorbis-tools/*
header
Session.vim
vorbis.doc
vorbis2.doc
WAVE.zip
encoder_example.*
encoder_example
stream.js
*~
.~*
.*.swp
*.txt
stream.dump
atruc.wav
dump.*
dump_t.*
capture_client
capture_client.*
atime.3gp
film.mp4
*.o
qfreej_s
git_doc.txt
Qfreej.pro.user
Qfreej.pro.user.1.3
moc_*
ui_qfreej.h
*.ods
TODO
Video/*
*.avi
*.mp4
*.ogv
